#include <winver.h>
#include <ntdef.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION             1,0,0,0
PRODUCTVERSION        	1,0,0,0
FILEFLAGSMASK           VS_FFI_FILEFLAGSMASK
FILEFLAGS               0x0L
FILEOS                  VOS__WINDOWS32
FILETYPE                VFT_DLL
FILESUBTYPE             VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
        VALUE "Comments",         "A spatial smoother that doesn't touch edges."
        VALUE "FileDescription",  "vsMSmooth for AviSynth 2.6 / AviSynth+"
        VALUE "FileVersion",      "1.0.0"
        VALUE "InternalName",     "vsMSmooth"
        VALUE "OriginalFilename", "vsMSmooth.dll"
        VALUE "ProductName",      "vsMSmooth"
        VALUE "ProductVersion",   "1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
